{% extends "myapp/layout.html" %}

{% load static %}

{% block title %}Missions{% endblock %}

{% block body %}
    <div id="missions-list" class="container-fluid">
        <div class="d-flex flex-row justify-content-center">
            <h3 style="color: white;">Missions lists</h3>
        </div>
        <ul>
            {% for mission in missions %}
            <div 
                {% if mission.is_completed or mission.is_canceled or mission.is_failed %} 
                    class="card mission completed"
                {% else %}
                    class="card mission uncompleted"
                {% endif %}
            >
                <div class="container-fluid d-flex flex-row justify-content-between"  
                    {% if mission.mission_priority == 1 %}
                        style="border-left: 25px solid blue; border-radius: 5px;"
                    {% elif mission.mission_priority == 2 %}
                        style="border-left: 25px solid green; border-radius: 5px;"
                    {% elif mission.mission_priority == 3 %}
                        style="border-left: 25px solid yellow; border-radius: 5px;"
                    {% elif mission.mission_priority == 4 %}
                        style="border-left: 25px solid red; border-radius: 5px;"
                    {% endif %}>
                    <li id="mission-{{ mission.id }}"><a class="no-underline" href="{% url 'myapp:details' mission.id %}">{{ mission.name }} - Deadline: {{ mission.deadline }}</a></li>
                    <div class="d-flex flex-row justify-content-end">
                        {% if not mission.is_completed and not mission.is_failed and not mission.is_canceled %}
                        <form action="{% url 'myapp:finish' mission.id %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-success" type="submit" value="Complete" id="complete-{{ mission.id }}">
                        </form>
                        <div style="width: 5px"></div>
                        <form action="{% url 'myapp:fail' mission.id %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-danger" type="submit" value="Fail" id="fail-{{ mission.id }}">
                        </form>
                        {% endif %}
                    </div>
                </div>
                <ul class="details" id="mission-{{ mission.id }}-detail">
                    <li>Describle: {{ mission.describle }}</li>
                    <li>Creator: {{ mission.creator }}</li>
                    <li>Executor: {{ mission.executor }}</li>
                    <li>Mission type: {{ mission.mission_type }}</li>
                    <li>Mission period: {{ mission.mission_period }}</li>
                    <li>Mission priority: {{ mission.mission_priority }}</li>
                    <li>Innitiated date: {{ mission.innitiated_date }}</li>
                    <li>Deadline: {{ mission.deadline }}</li>
                    <li>Parent mission: {{ mission.parent_mission }}</li>
                    <li>Rewards:
                        <ul>
                            <li>{{ mission.reward_1.capitalize }}</li>
                            <li>{{ mission.reward_2.capitalize }}</li>
                            <li>{{ mission.reward_3.capitalize }}</li>
                            <li>{{ mission.special_skill_reward.name.capitalize }}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </ul>
    </div>
    
    <div class="container d-flex justify-content-between" id="form-header">
        <h6 id="show-form-button"><a href="{% url 'myapp:new_mission' %}">Add a new mission</a><h6>
        <form id="filter-form" action="{% url 'myapp:missions' %}" method="post">
            {% csrf_token %}
            <select id="mission-filter" name="filter_mode">
                <option>Filter</option>
                {% for mode in filter_modes %}
                <option value="{{ mode }}">{{ mode }}</option>
                {% endfor %}
            </select>
        </form>
    </div>

    <script src={% static 'myapp/missions.js' %}></script>
{% endblock %}
